body {
  margin: 0;
  font-family: sans;
}

/* NAVBAR */
navbar {
  display: flex;
  background-color: cadetblue;
}
.active {
  color: white;
  background-color: black;
}
navbar button {
  padding:8px 16px;
  width:auto;
  border:none;
  display: inline;
  outline:0;
  font: 0.9em Arial;
}
navbar a {
  text-decoration: none;
}
navbar button:hover {
  color: white;
  background: grey;
}
.right {
  background: cadetblue;
  margin-left: auto;
  padding: 0;
}
.right img {
  width: 2em;
}
#btn-settings-close {
  background: white;
  padding: 0;
  float: right;
}
#btn-settings-close img {
  width: 2em;
}
/* /NAVBAR */


.card {
  border: 2px solid cadetblue;
}
.card:hover {
  border: 2px solid;
}


#view-settings {
  /* overlay */
  background: lightgrey;
  visibility: hidden; /* DEBUG */
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 0;
}
#view-settings h1 {
  margin: 0;
}
